spring:
  datasource:
    url: jdbc:mysql://root:zIBpPUmcrAPSRNlhlEyPFVvZuJwomgkO@ballast.proxy.rlwy.net:23687/railway
    username: root
    password: zIBpPUmcrAPSRNlhlEyPFVvZuJwomgkO
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

jwt:
  secret: 178bzzZ022COkxKjifx1ZxwUFyjAEeXxH3i8hol5q2k=
  expiration: 3600000
